$button-margin: 20px;
$header-padding: 1px;
$footer-background-color: lightyellow;
$them-color: maroon;

header {
    color: $them-color;
    padding: $header-padding;
}

footer {
    color: $them-color;
    background-color: $footer-background-color;
}

input[type="button"] {
    background-color: $them-color;
    margin: $button-margin;
}